@import '__variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    background-color: $primaryBg;
    color: $primaryColor;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
}