<template>
	<div>
		<app-header></app-header>
		<app-body></app-body>
		<app-footer></app-footer>
	</div>
</template>

<script>
import Header from './Header.vue'
import Body from './Body.vue'
import Footer from './Footer.vue'

export default {
	name: "app",
	components: {
		'app-header': Header,
		'app-body': Body,
		'app-footer': Footer
	}
}
</script>

<style lang="scss">
@import "../scss/main.scss";
</style>