<template>
  <div class="container">
      <div class="row">
          <movie-card></movie-card>
      </div>
  </div>
</template>

<script>
import MovieCard from './MovieCard.vue'

export default {
    name: "Body",
    components: {
        'movie-card': MovieCard
    }
};
</script>