<template>
  <div class="container">
      <div class="row">
        <div class="col-sm">
            <h1 class="display-5 text-center mt-5">{{ title }}</h1>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'Header',
    data() {
        return {
            title: 'Welcome to Which movie to watch?'
        }
    },
    props: {
        //
    }
};
</script>